# Python internals
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
build/
dist/
*.egg-info/
*.egg
*.spec

# Virtual Environments
.venv/
venv/
.env

# IDE settings
.idea/
.vscode/

# Project specific
bk/
prompt/
resources.res
resources.rc

# Configuration and Data (User specific)
*.ini
*.json

# Text files (exclude all except requirements.txt)
*.txt
!requirements.txt

# Logs
*.log
